{
  "id":   "<FQDN>",
  "name": "<NAME>",
  "automatic": {
    "hostname": "<HOSTNAME>",
    "os":       "centos"
  },
  "default": {
    "fqdn": "<FQDN>",
    "mongodb": {
      "cluster_name": "cluster1",
      "port": 27017
    }
  },
  "chef_type": "node",
  "normal": {},
  "chef_environment": "_default",
  "json_class": "Chef::Node",
  "override": {},
  "run_list": []
}